language: python
python:
  - "2.7"
  # - "3.5"
  # - "3.6"

matrix:
  include:
    # - name: 3.7_xenial
    #   python: 3.7
    #   dist: xenial

    # - name: 3.8_xenial
    #   python: 3.8
    #   dist: xenial

    # - name: 2.7_bionic
    #   python: 2.7
    #   dist: bionic

    # - name: 3.7_bionic
    #   python: 3.7
    #   dist: bionic

    # - name: 3.8_bionic
    #   python: 3.8
    #   dist: bionic

    - name: "Python 3.7 on macOS"
      os: osx
      osx_image: xcode11.2 # Python 3.7.4 running on macOS 10.14.4
      language: shell # 'language: python' is an error on Travis CI macOS
      env: PATH=/Users/travis/Library/Python/3.7/bin:$PATH PIPUSER=--user
      # env: PATH=/Users/travis/Library/Python/3.7/bin:/opt/X11/bin:$PATH PIPUSER=--user

    # - name: "Python 3.8 on Windows"
    #   os: windows # Windows 10.0.17134 N/A Build 17134
    #   language: shell # 'language: python' is an error on Travis CI Windows
    #   before_install:
    #     - choco install python --version 3.8
    #     - python -m pip install --upgrade pip
    #   env: PATH=/c/Python38:/c/Python38/Scripts:$PATH

addons:
  apt:
    packages:
      - xvfb
      - xserver-xephyr
      - scrot
      - zenity
      - gnumeric
      - x11-utils
      - x11-apps
  # homebrew:
  #   casks:
  #     - xquartz

install:
  - if [ ${TRAVIS_PYTHON_VERSION:0:1} == "2" ]; then PIP=pip; else PIP=pip3; fi
  - if [ ${TRAVIS_PYTHON_VERSION:0:1} == "2" ]; then PYTHON=python; else PYTHON=python3; fi
  - if [ ${TRAVIS_OS_NAME} == "windows" ]; then PYTHON=python; fi
  - $PIP install $PIPUSER --upgrade -r requirements-test.txt
  - $PIP install $PIPUSER --upgrade .

# https://github.com/travis-ci/travis-ci/issues/7313
# http://blog.tigerteufel.de/?p=476
script:
  - ls -la /tmp
  - mkdir /tmp/.X11-unix
  - sudo chmod 1777 /tmp/.X11-unix
  - sudo chown root /tmp/.X11-unix/

  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then ( Xvfb :99 -ac -screen 0 1024x768x8; echo ok )& fi
  - sleep 5
  - DISPLAY=:99 xdpyinfo
  - sleep 5
  - cd tests
  # - nosetests -v --with-coverage --cover-package=pyvirtualdisplay .
# after_success:
#   - coveralls

# - Xvfb -br -nolisten tcp -screen 0 1366x768x24 :1701
# - sleep 5
# - Xvfb :1071
# - sleep 5
# - if [ ${TRAVIS_OS_NAME} == "osx" ]; then (Xvfb -br -nolisten tcp -screen 0 1366x768x24 :1001 &);sleep 5;DISPLAY=:1001 xdpyinfo; fi
